<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layoutBase(contenido)">

<head>
	<meta charset="UTF-8" />
	<title>FarmaciaJAR - [[${pageTitle}]]</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="..." crossorigin="anonymous" />
	<link rel="icon" type="image/png" th:href="@{/img/logo.png}" />

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<!-- para el datatable -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

	<div id="overlay"></div>
	<div class="d-flex" id="wrapper">
		<nav id="sidebar" class="text-white">
			<div class="text-end d-lg-none px-3 py-2">
				<button class="button-cerrar" id="sidebar-close">✖</button>
			</div>
			<div class=" d-flex justify-content-start align-items-center py-3"
				style="margin-left: -10px; border-bottom: 2px solid var(--colorWhite);">
				<img th:src="@{/img/logo.png}" alt="Logo" class="logo">
				<h4>FarmaciaJAR</h4>
			</div>
			<div class="d-flex flex-column h-100 px-2">
				<ul class="list-unstyled flex-grow-1">
					<li><a th:href="@{/admin/dashboard}"
							th:classappend="${requestURI == '/admin/dashboard'} ? ' active' : ''"
							class="text-white nav-link px-3 py-2"> Dashboard </a></li>
					<li><a th:href="@{/admin/mantenimiento/medicamento/listado}" class="text-white nav-link px-3 py-2"
							th:classappend="${requestURI.startsWith('/admin/mantenimiento/medicamento')}  ? ' active' : ''">Medicamentos</a>
					</li>
					<li><a th:href="@{/admin/mantenimiento/farmaceuticos/listado}" class="text-white nav-link px-3 py-2"
							th:classappend="${requestURI.startsWith('/admin/mantenimiento/farmaceuticos')}  ? ' active' : ''">Farmacéuticos</a>
					</li>
					<li><a th:href="@{/admin/mantenimiento/proveedores/listado}"
							class="text-white nav-link px-3 py-2">Proveedores</a></li>
					<li><a th:href="@{/admin/usuarios}" class="text-white nav-link px-3 py-2">Usuarios</a></li>
				</ul>
				<ul class="list-unstyled">
					<li class="mt-auto"><a th:href="@{/logout}"
							class="bg-danger btn text-white nav-link px-3 py-2">Cerrar
							sesión</a></li>
				</ul>
			</div>
		</nav>
		<form id="cerrarSesionForm" th:action="@{/cerrar-sesion-admin}" method="post" style="display: none;"></form>
		<div id="content" class="flex-grow-1">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn btn-outline-quartary d-lg-none" id="menu-toggle">☰</button>
					<span class="ms-auto navbar-text"> <i class="bi bi-person-circle"></i> <span
							th:text="${nombre}">Admin</span>
					</span>
				</div>
			</nav>

			<main class="container-fluid py-4" id="main-content">
				<div th:replace="${contenido}">Contenido principal</div>
			</main>

			<footer class="bg-light text-center py-3 border-top">
				<small>© 2025 Farmacia S.A.</small>
			</footer>
		</div>
	</div>
	<script th:src="@{/js/layout.js}"></script>
	<script>
			document.getElementById("cerrarSesionLink").addEventListener("click", function (e) {
				e.preventDefault();

				Swal.fire({
					title: "¿Deseas cerrar sesión?",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Sí, cerrar",
					cancelButtonText: "No"
				}).then((result) => {
					if (result.isConfirmed) {
						document.getElementById("cerrarSesionForm").submit();
					}
				});
			});
		</script>
</body>

</html>